<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>LL7GameRoomUI/communicate_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,367},{93,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,48}</string>
			</dict>
			<key>LL7GameRoomUI/dazhu_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,552},{117,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,66}</string>
			</dict>
			<key>LL7GameRoomUI/dazhu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,475},{109,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,59}</string>
			</dict>
			<key>LL7GameRoomUI/dianpai_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,515},{118,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,69}</string>
			</dict>
			<key>LL7GameRoomUI/dianpai_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,635},{106,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,62}</string>
			</dict>
			<key>LL7GameRoomUI/diaozhu_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,520},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>
			<key>LL7GameRoomUI/diaozhu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,652},{93,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,58}</string>
			</dict>
			<key>LL7GameRoomUI/dipai_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,305},{88,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,46}</string>
			</dict>
			<key>LL7GameRoomUI/discard_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,1},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/discard_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,197},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/fang_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,588},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>LL7GameRoomUI/fang_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,358},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>LL7GameRoomUI/foreman_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,275},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>LL7GameRoomUI/grab_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,462},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>LL7GameRoomUI/hei_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,143},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>LL7GameRoomUI/hei_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,224},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>LL7GameRoomUI/help_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,205},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/hong_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,224},{104,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,79}</string>
			</dict>
			<key>LL7GameRoomUI/hong_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,353},{104,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,79}</string>
			</dict>
			<key>LL7GameRoomUI/jiaozhu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,448},{102,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,58}</string>
			</dict>
			<key>LL7GameRoomUI/maidi_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,290},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/maidi_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,393},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/main_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,496},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>LL7GameRoomUI/mei_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,434},{104,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,79}</string>
			</dict>
			<key>LL7GameRoomUI/mei_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,439},{104,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,79}</string>
			</dict>
			<key>LL7GameRoomUI/multiple2_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,142},{179,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,46}</string>
			</dict>
			<key>LL7GameRoomUI/pass_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,142},{109,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>LL7GameRoomUI/pass_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,253},{109,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>LL7GameRoomUI/previous_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,698},{84,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,47}</string>
			</dict>
			<key>LL7GameRoomUI/score_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,712},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>LL7GameRoomUI/shapai_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,536},{118,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,69}</string>
			</dict>
			<key>LL7GameRoomUI/shapai_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,638},{103,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,63}</string>
			</dict>
			<key>LL7GameRoomUI/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,323},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>LL7GameRoomUI/tip_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1},{533,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{533,49}</string>
			</dict>
			<key>LL7GameRoomUI/voice_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,689},{79,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,47}</string>
			</dict>
			<key>LL7GameRoomUI/xianjiakoudi_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,142},{183,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,51}</string>
			</dict>
			<key>LL7GameRoomUI/rect2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,205},{78,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,22}</string>
			</dict>
			<key>LL7GameRoomUI/poker_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1},{140,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,198}</string>
			</dict>
			<key>LL7GameRoomUI/mark_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,367},{120,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,107}</string>
			</dict>
			<key>LL7GameRoomUI/previous_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,142},{131,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,52}</string>
			</dict>
			<key>LL7GameRoomUI/operation_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{455,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{455,139}</string>
			</dict>
			<key>LL7GameRoomUI/friend_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,712},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>LL7GameRoomUI/fanzhu_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,142},{223,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,52}</string>
			</dict>
			<key>LL7GameRoomUI/point_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,396},{12,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,17}</string>
			</dict>
			<key>LL7GameRoomUI/jiaozhu_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,142},{223,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,52}</string>
			</dict>
			<key>LL7GameRoomUI/op_fanzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,340},{54,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,26}</string>
			</dict>
			<key>LL7GameRoomUI/op_jiaozhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,285},{53,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,27}</string>
			</dict>
			<key>LL7GameRoomUI/wait_fanzhu_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,732},{266,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,50}</string>
			</dict>
			<key>LL7GameRoomUI/wait_jiaozhu_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,536},{266,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,50}</string>
			</dict>
			<key>LL7GameRoomUI/wait_maidi_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,732},{267,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,50}</string>
			</dict>
			<key>LL7GameRoomUI/blue_score_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,767},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>LL7GameRoomUI/bufan_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,588},{103,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,62}</string>
			</dict>
			<key>LL7GameRoomUI/bujiao_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,588},{99,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,63}</string>
			</dict>
			<key>LL7GameRoomUI/pass2_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,364},{109,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>LL7GameRoomUI/pass2_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,367},{109,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>LL7GameRoomUI/small_poker_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,489},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>LL7GameRoomUI/small_poker_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,489},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>LL7GameRoomUI/small_poker_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,489},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>LL7GameRoomUI/small_poker_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,327},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>LL7GameRoomUI/poker_di_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,671},{81,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,72}</string>
			</dict>
			<key>LL7GameRoomUI/giveup_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,375},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/ungiveup_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,460},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/finger_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,143},{82,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>LL7GameRoomUI/hint_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1},{223,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,100}</string>
			</dict>
			<key>LL7GameRoomUI/hint_img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,103},{223,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,100}</string>
			</dict>
			<key>LL7GameRoomUI/fanzhu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,536},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/jiaozhu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,142},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/shou7_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,338},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/getscore_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,496},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>LL7GameRoomUI/roomowner_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,327},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LL7GameRoomUI.png</string>
			<key>realTextureFileName</key>
			<string>LL7GameRoomUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>